.board {
  display: flex;
  flex-direction: column;
}

.task {
  margin-bottom: 10px;
  padding: 5px;
  background: #ddd;
  box-shadow: 0 2px 2px 0 #00000055;
  border-radius: 5px;
}

.task:hover {
  box-shadow: 0 2px 3px 0 #00000088;
}

.task.done {
  background: rgb(138, 221, 138);
}
